<a href="https://colab.research.google.com/github/Gilmaralexandre/Data-Science-Begginer/blob/main/DSBEGGINER_Banco_de_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
##Notebook aborda conhecimentos introdutórios sobre banco de dados relacionais##

In [ ]:
#importando as libs
import sqlite3
conn = sqlite3.connect("banco_de_dados.db")
print(conn)

<sqlite3.Connection object at 0x00000118DBE6A8A0>

In [ ]:
#gerando chaves de conexão
cursor = conn.cursor()

In [ ]:
cursor.execute("DROP TABLE dados_profissionais")

In [ ]:
#exercicio01 - criando a tabela, com os nomes das colunas
cursor.execute("CREATE TABLE dados_cadastrais(Id integer, nome text, sobrenome text, data_nasci integer, cof integer, endereço text)")

In [ ]:
cursor.execute("CREATE TABLE dados_profissionais(id integer, graduacao text, cargo text, salario integer, tempo_de_casa integer)")

In [ ]:
#imprimindo o nome das tabelas criadas
cursor.execute('SELECT name from sqlite_master where type = "table"')
cursor.fetchall()

[('dados_cadastrais',), ('dados_profissionais',)]

In [ ]:
#dados da tabela1
cursor.execute("SELECT * FROM dados_cadastrais")
cursor.fetchall()

[(1, 'gilmar', 'alexandre', 19970605, 12345678911, 'rua um'),
 (2, 'joao', 'vitor', 1988, 12345678912, 'rua dois'),
 (3, 'gilson', 'junior', 1973, 12345678913, 'rua tres'),
 (4, 'luiza', 'vitoria', 2003, 12345678915, 'rua cinco')]

In [ ]:
#Inserindo informações na tabela
cursor.execute("INSERT INTO dados_cadastrais VALUES(1, 'gilmar', 'alexandre', 19970605, 12345678911, 'rua um')")
cursor.execute("INSERT INTO dados_cadastrais VALUES(2, 'joao', 'vitor', 1997-08-01, 12345678912, 'rua dois')")
cursor.execute("INSERT INTO dados_cadastrais VALUES(3, 'gilson', 'junior', 1994-05-16, 12345678913, 'rua tres')")
cursor.execute("INSERT INTO dados_cadastrais VALUES(4, 'luiza', 'vitoria', 2015-10-02, 12345678915, 'rua cinco')")
conn.commit()

In [ ]:
#Inserindo informações na tabela
cursor.execute("INSERT INTO dados_profissionais VALUES(1, 'matematica', 'cientista de dados', 6000, 2)")
cursor.execute("INSERT INTO dados_profissionais VALUES(2, 'finanças', 'conferencista', 1822, 3)")
cursor.execute("INSERT INTO dados_profissionais Values(3, 'arquitetura', 'arquiteto', 5544, 2)")
cursor.execute("INSERT INTO dados_profissionais VALUES(4, 'moda', 'artista', 6577, 3)")
conn.commit()

In [ ]:
#select all from dados_profissionais
cursor.execute("SELECT * FROM dados_profissionais")
cursor.fetchall()

[(1, 'matematica', 'cientista de dados', 6000, 2),
 (2, 'finanças', 'conferencista', 1822, 3),
 (3, 'arquitetura', 'arquiteto', 5544, 2),
 (4, 'moda', 'artista', 6577, 3)]

In [ ]:
#exercicio02
#selecionando dados da tabela e filtrando pelo tempo de casa
cursor.execute("SELECT id, graduacao, cargo, salario, tempo_de_casa FROM dados_profissionais ORDER BY tempo_de_casa")
cursor.fetchall()

[(1, 'matematica', 'cientista de dados', 6000, 2),
 (3, 'arquitetura', 'arquiteto', 5544, 2),
 (2, 'finanças', 'conferencista', 1822, 3),
 (4, 'moda', 'artista', 6577, 3)]

In [ ]:
#exercicio03
#contando quantos ids possui na tabela
cursor.execute("SELECT COUNT(id) FROM dados_cadastrais")
cursor.fetchall()

[(4,)]

In [ ]:
#exercicio04
#inserindo novos dados e comitando alterações
cursor.execute("INSERT INTO dados_cadastrais VALUES(1, 'gilmar', 'silva', 19970605, 12345678911, 'rua um')")
cursor.execute("INSERT INTO dados_cadastrais VALUES(2, 'joao', 'vitor', 1997-08-01, 12345678912, 'rua dois')")
cursor.execute("INSERT INTO dados_cadastrais VALUES(3, 'gilson', 'silva', 1994-05-16, 12345678913, 'rua tres')")
cursor.execute("INSERT INTO dados_cadastrais VALUES(4, 'luiza', 'silva', 2015-10-02, 12345678915, 'rua cinco')")
conn.commit()

In [ ]:
cursor.execute("SELECT nome, sobrenome, data_nasci, cof, endereço FROM dados_cadastrais WHERE sobrenome == 'silva' ORDER BY nome, sobrenome")
cursor.fetchall()

[('gilmar', 'silva', 19970605, 12345678911, 'rua um'),
 ('gilson', 'silva', 1973, 12345678913, 'rua tres'),
 ('luiza', 'silva', 2003, 12345678915, 'rua cinco')]

In [ ]:
#exercicio05
#somando todos os salarios
cursor.execute("SELECT SUM(salario) FROM dados_profissionais")
cursor.fetchall()

[(19943,)]